* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form,
label,
main {
  display: grid;
  gap: 0.5rem;
}

#root {
  width: 45ch;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

header nav {
  display: flex;
  gap: 1ch;
}

a {
  color: teal;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

ul {
  list-style: none;
}

li {
  padding: 0.3em;
  border: thin solid lightgray;
  display: grid;
  grid-template-columns: 2.5fr max-content;
  column-gap: 2em;
}

ul,
ol {
  padding-left: 1rem;
}

p[role="alert"] {
  color: red;
}

.delete {
  padding: 0.3em;
}

li:hover {
  background-color: rgb(79, 79, 79);
  color: white;
}